{% extends "base.html.twig" %}

 {% block body %}
     <div class="page-header">
         <h2> <small> <h1>Etkinlik Listesi</h1></small></h2>
     </div>
    <div class="container pull-left">

        <button class="btn btn-default btn-large" data-toggle="modal" data-target="#addData">Etkinlik Ekle</button>


        <!-- Modal -->
        <div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="addLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">Ekle</h4>
                    </div>


                    <div class="modal-body">
                        <form action="{{ path('etkinlik_ekle') }}" method="post">
                            <div class="form-group">
                                <label for="adi">Etkinlik Adı</label>
                                <input type="text" class="form-control" name="adi" id="adi" placeholder="Etkinlik Adı" required>
                            </div>

                            <div class="form-group">
                                <label for="adres">Adres</label>
                                <input type="text" name="adres" id="adres" class="form-control" placeholder="Adresi giriniz..." required>
                            </div>

                            <div class="form-group">
                                <label for="aciklama">Açıklama</label>
                                <textarea name="aciklama" id="aciklama" class="form-control" placeholder="Etkinliğin Kısa Açıklamasını yazın..." required></textarea>
                            </div>
                             </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                    </form>
                </div>
            </div>
        </div><!--modal sonu-->
        <p></p>
    </div>
     <!-- modal sonu-->
<br> <br>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Adres</th>
        <th width="200">İşlemler</th>
    </tr>
    {% for e in etkinlikler %}
    <tr>
        <td>{{ e.adi }}</td>
        <td>{{ e.aciklama }}</td>
        <td>{{ e.adres }}</td>
        <td>
            <a href="{{ path('etkinlik_duzenle',{'id':e.id}) }}" class="btn btn-info glyphicon glyphicon-pencil"> Düzenle</a>
            <a href="{{ path('etkinlik_sil',{'id':e.id}) }}" class="btn btn-warning glyphicon glyphicon-erase"> Sil</a>
        </td>
    </tr>
    {% endfor %}


 </table>



     <br>   <br>   <br>   <br>

     <a href="{{ path('anasayfa') }}">Anasayfaya  gider</a>





 {% endblock %}
